#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.main--container {
  border: 1px solid white;
  width: 100vw;
  min-height: 100vh;
}

.container {
  border: 9px solid red;
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
}
.card {
  border: 1px solid white;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

.read-the-docs {
  color: #888;
}
